.banner-wrap .container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/bg-imgs/home-top.png);
    width: 100%;
    height:100%;
    1366px; 
    padding: 60px 40px;
    text-align: center;
    background-position:50% 25%;
}

.container button {
    margin: 9.5em .5em 0em .5em;
}

#pg494143954815929470 {
    margin-right: .5em;
}

.main-wrap { 
    width: 100%; 
    background: #ffffff;
    display:grid;
    grid-template-rows: 175px 400px 390px 400px 600px 400px 325px 390px ;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.s1 {
    grid-row: 1/2 ;
    grid-column: 1/6 ;
    background-color: #F3F3F3;

}

.s1 p {
    position: relative;
    top: 20%;
    font-family: "Oswald", sans-serif; 
    font-size: 200%; 
    font-weight: 200;
    margin: auto 5em;
    line-height: 1.5em;

}

.s2 {
    grid-row: 2/3;
    grid-column: 1/6 ;
    background-color: #EBEBEB;
    padding: 1.5em;
}

.s2 img {
    max-height: 150px;
    max-width: 150px;
    text-align: center;
}

.translation {
    display: block;
    width: 135px;
    height: 150px;
    background: url(../imgs/icons/translation_buttons.png) 0 0;
    position:relative;
}

.translation:hover {
    background-position: bottom;
}

.transcription {
    display: block;
    width: 135px;
    height: 150px;
    background: url(../imgs/icons/transcription_buttons.png) 0 0;
    position:relative;
}

.transcription:hover {
    background-position: bottom;
}

.data_entry {
    display: block;
    width: 135px;
    height: 150px;
    background: url(../imgs/icons/data_entry_buttons.png) 0 0;
    position:relative;
}

.data_entry:hover {
    background-position: bottom;
}

.data_scrub {
    display: block;
    width: 135px;
    height: 150px;
    background: url(../imgs/icons/data_scrub_buttons.png) 0 0;
    position:relative;
}

.data_scrub:hover {
    background-position: bottom;
}

.image_tag {
    display: block;
    width: 135px;
    height: 150px;
    background: url(../imgs/icons/image_tag_buttons.png) 0 0;
    position:relative;
}

.image_tag:hover {
    background-position: bottom;
}

.research {
    display: block;
    width: 135px;
    height: 150px;
    background: url(../imgs/icons/research_buttons.png) 0 0;
    position:relative;
}

.research:hover {
    background-position: bottom;
}

.s2 p{
    line-height: 21em;
}

.s2 h3 {
    margin: -1em 0em 1em 0em;
}

div.serviceicon {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 0em 1em;
}

.s3 {
    grid-row: 3/4;
    grid-column: 1/6 ;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/bg-imgs/home-mid.jpg);
    color: #fff;
    line-height: 0em;
    background-position:center ;
    background-size: 100%;
}

.s3 h2 {
    color: #fff;
    padding-top: 1em;
}

.s3 h3 {
    margin-top: -.4em;
}

.s3 button {
    margin-top: 9em;
}

.s4 {
    grid-row: 4/5;
    grid-column: 1/6 ;
    background-color: #F3F3F3;
}

.s4 img {
    max-height: 100px;
    max-width: 150px;
    text-align: center;
    margin: 2em 2.5em ;
}

.s5 {
    grid-row: 5/6;
    grid-column: 1/6 ;
    background-color: #EBEBEB;
}

.s5 a {
    color:#2CA6D9;
}

.s5 a:hover {
    color: #1E6B87;
}

.timeline {
    width: 850px !important ;
}

.timelinetext1 {
    max-width: 250px ;
    display: inline-block ;
    grid-row: 5/6;
    grid-column: 1/2;
    vertical-align: top;
}

.timelinetext2 {
    max-width: 250px ;
    display: inline-block ;
    grid-row: 5/6;
    grid-column: 2/3;
    margin: 0em 8.3em;
    vertical-align: top;
}

.timelinetext3 {
    max-width: 250px ;
    display: inline-block ;
    grid-row: 5/6;
    grid-column: 3/4;
    vertical-align: top;

}

.s5 img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 0.5em 8.25em;
}


.s6 {
    grid-row: 6/7;
    grid-column: 1/6 ;
    background-color: #F3F3F3;
}

.s6 img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 0.5em 6em;
}

.feature1 {
    max-width: 250px ;
    display: inline-block;
    grid-row: 6/7;
    grid-column: 1/2;
    vertical-align: top;
    margin: 0em 1.85em;

}

.feature2 {
    max-width: 250px ;
    display: inline-block;
    grid-row: 6/7;
    grid-column: 2/3;
    vertical-align: top;
    margin: 0em 1.85em;

}

.feature3 {
    max-width: 250px ;    
    display: inline-block;
    grid-row: 6/7;
    grid-column: 3/4;
    vertical-align: top;
    margin: 0em 1.85em;


}

.feature4 {
    max-width: 250px ; 
    display: inline-block;
    grid-row: 6/7;
    grid-column: 4/5;
    vertical-align: top;
    margin: 0em 1.85em;
}

.s7 {
    grid-row: 7/8;
    grid-column: 1/6 ;
    background-color: #EBEBEB;
}

.s7 img {
    max-height: 100px;
    max-width: 150px;
    text-align: center;
    margin: 2em 3.5em ;
}

.s8 {
    grid-row: 8/9;
    grid-column: 1/6 ;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/bg-imgs/home-bottom.jpg);
    color: #fff;
    background-position:center ;
    background-size: 100%;
}

.s8 h2 {
    color: #fff;
    padding-top: 1em;
}

.s8 button {
    margin-top: 6.5em;
}

.s8 h3 {
    margin: -1em 0em 1em 0em;
}
