.banner-wrap .container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/bg-imgs/translation-top.png);
    width: 100%;
    height:100%;
    1366px; 
    padding: 60px 40px;
    text-align: center;
    background-position:50% 25%;
}

.container button {
    margin: 9.5em .5em 0em .5em;
}

.main-wrap { 
    width: 100%; 
    background: #ffffff;
    display:grid;
    grid-template-rows: 350px 280px 1fr 400px 390px ;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.s1 {
    grid-row: 1/2 ;
    grid-column: 1/6 ;
    background-color: #F3F3F3;
    text-align: left;
    padding: 1.5em;
    display:grid;
    grid-template-columns: 500px, 900px;
    grid-template-rows: 1fr;
}

.why-img {
    grid-row: 1/2;
    grid-column: 1/2;
    display: block;
    margin: 0 auto !important ;
}

.why-img img {
    width: 250px;
    margin: 1.6em 0;
}

.why-text {
    grid-row: 1/2;
    grid-column: 2/4;
    margin: .25em 7em 0 3em;
    
}

.s2 {
    grid-row: 2/3 ;
    grid-column: 1/6 ;
    background-color: #EBEBEB;
    padding: 0 4em 1em 4em;
}

.s2 img {
    max-width: 200px;
    max-height: 150px;
}

.s2 h4 {
        margin-top: 1em;
        line-height: 1.75em;
}

.s3 {
    grid-row: 3/4 ;
    grid-column: 1/6 ;
    background-color: #F3F3F3;
    padding: 1.5em;
}

.s3 h2 {
    margin: 0em;
}

.s3 h3 {
    padding-bottom: 1em;
}

.s4 {
    grid-row: 4/5 ;
    grid-column: 1/6 ;
    background-color: #EBEBEB;
    padding: 1.5em;
}

.s4 h2 {
    margin: 0em;
}

.s4 h3 {
    padding-bottom: 1em;
}

/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color: #e0e0e0;
    color: #444;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
    border-radius: 5px;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: #c0c0c0;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #2CA6D9;
    float: right;
    margin-left: 5px;
    margin-right: 20px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2796"; 
}

/* Style the element that is used for the panel class */

div.panel {
    padding: 5px 0 5px 5px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

.s5 {
    grid-row: 5/6 ;
    grid-column: 1/6 ;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/bg-imgs/translation-bottom.jpg);
    color: #fff;
    background-position:top ;
    background-size: 100%;
}

.s5 h2 {
    color: #fff;
    padding-top: 3em;
}

.s5 button {
    margin-top: 2em;
}