.banner-wrap .container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/bg-imgs/translation-top.png);
    width: 100%;
    height:100%;
    1366px; 
    padding: 60px 40px;
    text-align: center;
    background-position:50% 25%;
}

.main-wrap { 
    width: 100%; 
    background: #ffffff;
    display:grid;
    grid-template-rows: 350px 235px 1fr 1fr 425px 390px ;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.s1 {
    grid-row: 1/2 ;
    grid-column: 1/6 ;
    background-color: #F3F3F3;
    text-align: left;
    padding: 1.5em;
    display:grid;
    grid-template-columns: 500px, 900px;
    grid-template-rows: 1fr;
}

.why-img {
    grid-row: 1/2;
    grid-column: 1/2;
    display: block;
    margin: 0 auto !important ;
}

.why-img img {
    width: 250px;
    margin: 1.6em 0;
}

.why-text {
    grid-row: 1/2;
    grid-column: 2/4;
    margin: .25em 7em 0 3em;
    
}

.s2 {
    grid-row: 2/3 ;
    grid-column: 1/6 ;
    background-color: #EBEBEB;
    padding: 0 4em 1em 4em;
}

.s2 img {
    max-width: 200px;
    max-height: 150px;
}

.s2 h4 {
        margin-top: 1em;
}

.s3 {
    grid-row: 3/4 ;
    grid-column: 1/6 ;
    background-color: #F3F3F3;
    padding: 1.5em;
}

.s3 h2 {
    margin: 0em;
}

.s3 h3 {
    padding-bottom: 1em;
}

.s3 li {
    display: block;
    text-align: left;
    padding: 1.5em ;
    color: #103E5B ;
    background: url(../imgs/icons/button-white.png) no-repeat;
    
}

.s4 {
    grid-row: 4/5 ;
    grid-column: 1/6 ;
    background-color: #EBEBEB;
    padding: 1.5em;
}

.s4 li {
    display: block;
    text-align: left;
    padding: 1.5em ;
    color: #103E5B ;
    background: url(../imgs/icons/button-white.png) no-repeat;
}

.s4 h3 {
    margin-top: 1em  ;
    margin: 1em;
}

.s5 {
    grid-row: 5/6 ;
    grid-column: 1/6 ;
    background-color: #3E3E3E;
    color: #fff;
    text-align: left;
    padding: 1em;
}

.s5 h2 {
    color: #fff;
    text-align: center;
    margin: 0.5em 0;
}

.s5 img {
    max-width: 200px;
}

.s5 .difference1 {
    padding-top: 1em;
    padding-left: 10em;
    display: inline-block;
    max-width: 400px;
    text-align: center;
}

.s5 .difference2 {
    padding-top: 1em;
    padding-left: 6em;
    display: inline-block;
    max-width: 400px;
    text-align: center;
}

.s6 {
    grid-row: 6/7 ;
    grid-column: 1/6 ;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/bg-imgs/translation-bottom.jpg);
    color: #fff;
    background-position:top ;
    background-size: 100%;
}

.s6 h2 {
    color: #fff;
    padding-top: 3em;
}

.s6 button {
    margin-top: 2em;
}